<h1>User page</h1>

<div id="all-photos">
  <% @uploads.each do |upload| %>
    <div class="photo">
      <%= image_tag upload.photo.url(:thumb) %>
      <a class="glyphicon glyphicon-heart"
          data-method="post"
          href="/users/<%= current_user.id %>/uploads/<%= upload.id %>/favorites"></a>
    </div>
  <% end %>
</div>

